.idea
.code
**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules/
.DS_Store

**/command-output/

.idea/
*.iml

yarn.lock
**/pulumiManifest.go

ci-scripts
**/schema.go
**/version.txt
**/nuget
**/maven
**/dist
.make
sdk/java/build
sdk/java/.gradle
sdk/python/venv